.form__registration{
 display: flex;
 flex-direction: column;
 width: 600px;
}
.registration__input{
    width: 200px;
}

.button__submit{
    width: 150px;
    height: 50px;
    cursor: pointer;
    margin-top: 10px;
    background-color: red;
    border: 0px solid black;
    border-radius: 20px;
}
.form__style{

    width: 300px;
    padding: 5px;
    margin-left: 5px;
}
.wrapper
{
    width: 400px;
}