.people__items
{
    
    margin-right: 5px;
    width: 200px;
}
.items{
    align-items: baseline;
    margin-bottom: 10px;
    display: flex
        
}
.form__delete__button{
    /* width: 20px; */
    height: 20px;
    cursor: pointer;
    margin-top: 10px;
    background-color: pink;
    border: 0px solid black;
    border-radius: 20px;
}